<?xml version="1.0"?>
<!--
/**
 * @author Endora
 * @copyright Copyright (c) Endora (https://endora.software)
 * @package Endora_ExpertSenderCdp
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="expertsender" frontName="expertsender">
            <module name="Endora_ExpertSenderCdp"/>
        </route>
    </router>
</config>
