<?xml version="1.0"?>
<!--
/**
 * @author Endora
 * @copyright Copyright (c) Endora (https://endora.software)
 * @package ExpertSender_Ecdp
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ExpertSender_Ecdp::expertsender" title="ECDP" module="ExpertSender_Ecdp" sortOrder="100" resource="ExpertSender_Ecdp::expertsender"/>
        <add id="ExpertSender_Ecdp::mappings" title="Mappings" translate="title" module="ExpertSender_Ecdp" sortOrder="10" resource="ExpertSender_Ecdp::field_mapping" parent="ExpertSender_Ecdp::expertsender"/>
        <add id="ExpertSender_Ecdp::field_mapping" title="Custom Field Mappings" translate="title" module="ExpertSender_Ecdp" sortOrder="10" resource="ExpertSender_Ecdp::expertsender" action="expertsender/fieldmapping/index" parent="ExpertSender_Ecdp::mappings"/>
        <add id="ExpertSender_Ecdp::order_status_mapping" title="Order Status Mappings" translate="title" module="ExpertSender_Ecdp" sortOrder="20" resource="ExpertSender_Ecdp::order_status_mapping" action="expertsender/orderstatusmapping/index" parent="ExpertSender_Ecdp::mappings"/>
        <add id="ExpertSender_Ecdp::customer_consents" title="Customer Consents" translate="title" module="ExpertSender_Ecdp" sortOrder="20" resource="ExpertSender_Ecdp::customer_consents" parent="ExpertSender_Ecdp::expertsender"/>
        <add id="ExpertSender_Ecdp::consent" title="Consents" translate="title" module="ExpertSender_Ecdp" sortOrder="10" resource="ExpertSender_Ecdp::consent" action="expertsender/consent/index" parent="ExpertSender_Ecdp::customer_consents"/>
        <add id="ExpertSender_Ecdp::consent_form_element" title="Consent Form Elements" translate="title" module="ExpertSender_Ecdp" sortOrder="20" resource="ExpertSender_Ecdp::consent_form_element" action="expertsender/consent_formelement/index" parent="ExpertSender_Ecdp::customer_consents"/>
        <add id="ExpertSender_Ecdp::settings" title="Settings" translate="title" module="ExpertSender_Ecdp" sortOrder="30" resource="ExpertSender_Ecdp::settings" parent="ExpertSender_Ecdp::expertsender"/>
        <add id="ExpertSender_Ecdp::general_settings" title="General Settings" translate="title" module="ExpertSender_Ecdp" sortOrder="10" resource="ExpertSender_Ecdp::general_settings" action="adminhtml/system_config/edit/section/endora_expertsender" parent="ExpertSender_Ecdp::settings"/>
        <add id="ExpertSender_Ecdp::form_settings" title="Form Settings" translate="title" module="ExpertSender_Ecdp" sortOrder="20" resource="ExpertSender_Ecdp::form_settings" action="adminhtml/system_config/edit/section/endora_expertsender_forms" parent="ExpertSender_Ecdp::settings"/>
    </menu>
</config>
